html {
    font-family: roboto;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

a {
    color: none;
    text-decoration: none;
}

ul {
    list-style: none;
}

.df-btn {
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
    font-weight: bold;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    
}


/*--------------------HEADER--------------------*/
header {
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    width: 100%;
    background-color: #1F2937;
}
/*--------NAV-BAR--------*/
.nav-bar {
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links-list {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
    gap: 24px;
    align-items: center;
}

/*--------HEADER CONTENT--------*/

.header-content {
    display: flex;
    color: #f9faf8;
    justify-content: center;
    gap: 88px;
}

.header-text {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: flex-start;
    gap: 15px;
}

.header-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    line-height: 90%;

}

.sign-up-btn {
/*    margin-top: 15px;*/
    background-color: #3882f6;
}

.header-image {
    width: 460px;
    height: 200px;
    background-color: #595d65;
    padding: 50px;
}



/*--------------------MAIN--------------------*/
/*MAIN ONE*/
main {
    display: flex;
    flex-direction: column;
}

.main-section.main-one {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-one-header h1 {
    padding: 32px;
    color: #1f2937;
    font-weight: 1000;
}

.main-one-image-container {
    display: flex;
    gap: 32px;
    padding-bottom: 100px;
}

.main-one-image-text-container {
    display: flex;
    flex-direction: column;
    width: 150px;
/*    background-color: red;*/
    gap: 15px;
}

.main-one-image-text-image {
    width: 150px;
    height: 150px;
/*    background-color: green;*/
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.main-one-image-text-text {
    text-align: center;
}


/*MAIN TWO*/
.main-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 24px;
    font-weight: lighter;
}

.main-two-container {
    width: 550px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.main-two-quote {
    display: flex;
    flex-direction: column;
}

.sayer {
    align-self: flex-end;
    font-weight: 400;
}

/*--------------------FOOTER--------------------*/
footer {
    color: white;
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}